
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div>

<div class="bandeau">
  <img id="logo" src="./assets/images/logo/Image1.png">
</div>

<div class="row no-gutters">
  <div class="col-md-6 no-gutters">
    <div class="leftside d-flex justify-content-center align-items-center">
        <div class="card text-center">
          <div class="card-body ">
            <br>
          <h1 class="card-title">What is Rank my CrossFit ?</h1>
          <p id="para-left" class="card-text" >
            <br>Rank my CrossFit is an essential web application for all crossfitters. Progress and break records!
            Create an account, and register your records for each wods and each weightlifting movements.With
            Rank my CrossFit, you can share your records, and you can compete against other crossfitters around
            the world! In your profile page, you can also watch your records evolution! Perfect to challenge yourself!
            A lot of wods are present on the web site, and a lot of axersises are explained!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 no-gutters">
    <div class="rightside d-flex justify-content-center align-items-center">
      <p id="para-right">So? What are you waiting for? <br>
      Join the adventure!</p>

    </div>
    <div class="d-flex justify-content-center align-items-center">
      <button id="signup" class="btn btn-success" routerLink='/signup'>Sign up</button></div>
      <br>
    </div>
</div>
</div>
