
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<div class="row no-gutters justify-content-md-center">
  <div class="col-md-4 no-gutters">
    <div class="leftside d-flex justify-content-center align-items-center">
        <div class="card border-dark text-center">
          <div class="card-body ">
            <br>
          <h1 class="card-title">What is Rank my CrossFit?</h1>
          <p id="para-left" class="card-text" >
            <br>Rank my CrossFit is an essential web application for all crossfitters. Progress and break records!
            Create an account, and register your records for each wods and each weightlifting movements. With
            Rank my CrossFit, you can share your records, and you can compete against other crossfitters around
            the world! In your profile page, you can also watch your records evolution! Perfect to challenge yourself!
            A lot of wods are present on the web site, and a lot of exercises are explained!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 no-gutters">
    <div class="leftside d-flex justify-content-center align-items-center">
        <div class="card border-dark text-center">
          <div class="card-body ">
            <br>
          <h1 class="card-title">So? What are you waiting for?</h1>
          <p class="card-text" style="font-size: 20px;">
            <br>            Join the adventure!
          </p>
          <button type="button" id="signup" class="btn btn-success" routerLink='/signup'>Sign up</button>
        </div>
      </div>
    </div>
  </div>
</div>
