<div class="container">
  <h2 *ngIf="this.wod">{{wod.name}}</h2>
  <table id="tab" class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unity</th>
        <th scope="col">Weight</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exo of this.exercises;">
        <td>
          <button class="btn" (click)="openDialogExo(exo.objectExo)">{{exo.objectExo.name }}</button>
        </td>
        <td>
          <label> {{exo.quantity}}</label>
        </td>
        <td>
          <label> {{exo.listeUnit}}</label>
        </td>
        <td>
          <label> {{exo.weight}}</label>
        </td>
        <td>
          <label>kg</label>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center align-items-center">
    <button style="background-color: #28a745;
    border-color: #28a745;" *ngIf="this.token" id="addRecord" class="btn btn-success" (click)="openDialog(this.idWod, this.wod.name)">Add record </button>
  </div>

  <br>

  <div class="row justify-content-md-center">
    <div class="col-md-12 text-center" >
      <div class="table-header" style="padding-top: 7px; padding-bottom: 7px;">
        <h1 *ngIf="this.wod" style="color:white; margin: auto; text-align: center;">My records for {{wod.name}}</h1>
      </div>
      <div class="table-row"  >
        <div class="table-data">
          <label>Name</label>
        </div>
        <div class="table-data">
          <label>Record</label>
        </div>
        <div class="table-data">
          <label>Date</label>
        </div>
        <div class="table-data">
          <label>State</label>
        </div>
        <div class="table-data">
          <label></label>
        </div>
        <div class="table-data">
          <label></label>
        </div>
      </div>
      <div class="content text-center" role="main">
          <div class="form-group">
          </div>
            <!-- results of ngFor is passed to appFilter with argument searchText -->
            <div class="table-content">
              <div *ngFor="let record of recordWod">
                <div class="table-row">
                <div class="table-data">
                  <label> {{record.name}}</label>
                </div>
                <div class="table-data">
                  <label>{{record.record}} min</label>
                </div>
                <div class="table-data">
                  <label>{{record.date | date:'yyyy-MM-dd'}}</label>
                </div>
                <div class="table-data">
                  <label>{{record.state}}</label>
                </div>
                <div class="table-data">
                  <button class="btn btn-warning" style="width:100%; font-size: 15px; float: right;" (click)="openDialog(record)">Modify</button>
                </div>
                <div class="table-data">
                  <button class="btn btn-danger" style="width:100%;  font-size: 15px; float: right;" (click)="deleteRecordWod(record._id)" >Delete</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <br>
  <h2 *ngIf="this.recordWod"> My performance graph</h2>
  <div>
    <div style="display: block;">
      <canvas *ngIf="this.recordLegend" baseChart
        [datasets]="recordData"
        [labels]="recordLabels"
        [options]="recordOptions"
        [legend]="recordLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>

</div>
