<div class="container">
  <div class="row justify-content-md-center">

    <div class="col-md-4">
      <div *ngIf="userDetails" class="table-fill table" style="padding-top: 15px;">
        <div class="table-header">
          <div class="header__item"><a id="name" class="filter__link" href="#"><h1>User Profile</h1></a></div>
        </div>
        <div class="table-content">	
          <div class="table-row">		
            <div class="table-data">First Name</div>
            <div class="table-data">{{userDetails.firstName}}</div>
          </div>
          <div class="table-row">
            <div class="table-data">Last Name</div>
            <div class="table-data">{{userDetails.lastName}}</div>
          </div>
          <div class="table-row">
            <div class="table-data">Email</div>
            <div class="table-data">{{userDetails.email}}</div>
          </div>
          <div class="table-row">
            <div class="table-data">Sexe</div>
            <div class="table-data">{{userDetails.sexe}}</div>
          </div>
          <div class="table-row">
            <div class="table-data">Nationnality</div>
            <div class="table-data">{{userDetails.nation}}</div>
          </div>
        </div>	
        <div class="table-footer">
          <div class="header__item"><a id="name" class="filter__link" href="#"><input class="btn btn-light btn-lg" type="button" (click)="onLogout()" value="Logout" /></a></div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div *ngIf="userDetails" class="table-fill table" style="padding-top: 15px;">
        <div class="table-header">
          <div class="header__item"><a id="name" class="filter__link"><h1>My Records</h1></a></div>
        </div>

        <div class="col-md-6">
          <div class="table-data" style="padding-top: 7px; padding-bottom: 7px;">
            <h2>Wods</h2>
          </div>
          <div class="content text-center" role="main">
            <div class="card">
              <div class="form-group">
                <input style="width:100%; font-size: 15px; "  type="search" class="form-control" id="search-text"
                  [(ngModel)]="wodname" placeholder="Enter a wod's name" (input)="SearchWod()" autofocus/>
              </div>
              <ul class="list-group list-group-flush">
                <!-- results of ngFor is passed to appFilter with argument searchText -->
                <td class="list-group-item" *ngFor="let wod of wods">
                  <button *ngIf="this.userDetails && this.wod"  style="width:100%; font-size: 15px;" class="btn" [routerLink]="['/wods/',userDetails._id,wod._id]">{{wod.name}}</button>
                </td>
              </ul>
            </div>
          </div>
          <div class="table-footer" style="justify-content: center;">
            <button class="btn btn-danger btn-lg" *ngIf="this.userDetails" [routerLink]="['/myRecordsWod',userDetails._id ]">Get all wod's records</button>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="table-data" style="padding-top: 7px; padding-bottom: 7px;">
            <h2>Weightliftings</h2>
          </div>
          <div class="content text-center" role="main">
            <div class="card">
              <div class="form-group">
                <input style="width:100%; font-size: 15px; " type="search" class="form-control" id="search-text"
                [(ngModel)]="weightliftingname" placeholder="Enter a weightlifting movement's name" (input)="SearchWei()" autofocus/>
              </div>
              <ul class="list-group list-group-flush">
                <!-- results of ngFor is passed to appFilter with argument searchText -->
                <td class="list-group-item" *ngFor="let weightlifting of weightliftings">
                  <button *ngIf="userDetails && weightlifting" style="width:100%; font-size: 15px;" class="btn" [routerLink]="['/weightliftings/',userDetails._id,weightlifting._id]">{{weightlifting.name}}</button>
                </td>
              </ul>
            </div>
          </div>
          <div class="table-footer" style="justify-content: center;">
            <button class="btn btn-danger btn-lg" *ngIf="this.userDetails" [routerLink]="['/myRecordsWei',userDetails._id ]">Get all weighlitfting's records</button>
          </div>
        </div>
    </div>
  </div>
</div>
