<div class="container">
  <h1>My records for weightlifting</h1>
  <div class="content" role="main">
    <div class="card">
      <ul class="list-group list-group-flush">
        <!-- results of ngFor is passed to appFilter with argument searchText -->
        <td class="list-group-item" *ngFor="let record of recordWei">
          <label style="margin-right:10px"> {{record.name}} </label>
          <label style="margin-right:10px"> {{record.record}} kg </label>
          <label style="margin-right:10px"> {{record.date}} </label>
          <label style="margin-right:10px">{{record.state}}</label>
          <button class="btn btn-warning" (click)="openDialog(record)">Modify</button>
          <button class="btn btn-danger" (click)="deleteRecordWei(record._id)" >Delete</button>
        </td>
      </ul>
    </div>
  </div>
</div>

