<div class="container text-center">
  <div class="row justify-content-md-center">
    <div class="col-md-12 text-center" >
      <div class="table-header" style="padding-top: 7px; padding-bottom: 7px;">
        <h1 style="color:white; margin: auto; text-align: center;">My records for weightlifting</h1>
      </div>
      <div class="table-row"  >
        <div class="table-data">
          <label>Name</label>
        </div>
        <div class="table-data">
          <label>Record</label>
        </div>
        <div class="table-data">
          <label>Date</label>
        </div>
        <div class="table-data">
          <label>State</label>
        </div>
        <div class="table-data">
          <label></label>
        </div>
        <div class="table-data">
          <label></label>
        </div>
      </div>
      <div class="content text-center" role="main">
          <div class="form-group">
          </div>
            <!-- results of ngFor is passed to appFilter with argument searchText -->
            <div class="table-content">
              <div *ngFor="let record of recordWei">
                <div class="table-row">
                <div class="table-data">
                  <label> {{record.name}}</label>
                </div>    
                <div class="table-data">
                  <label>{{record.record}} min</label>
                </div>   
                <div class="table-data">
                  <label>{{record.date}}</label>
                </div>   
                <div class="table-data">
                  <label>{{record.state}}</label>
                </div>  
                <div class="table-data">
                  <button class="btn btn-warning" style="width:100%; font-size: 15px; float: right;" (click)="openDialog(record)">Modify</button>
                </div>  
                <div class="table-data">
                  <button class="btn btn-danger" style="width:100%;  font-size: 15px; float: right;" (click)="deleteRecordWei(record._id)" >Delete</button>
                </div>  
              </div>          
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

