<div class="container">

  <h1>Wod</h1>

  <div id="newRow"></div>
  <form [formGroup]="productForm" *ngIf="productForm && this.wod" >

    <p>
      <label for="name">Wod Name:</label>
      <input *ngIf="this.wod" [(ngModel)]="this.wod.name" type="text" id="name" name="name" formControlName="name" class="form-control">
    </p>

    <table class="table" formArrayName="exercises">
      <tr>
        <th colspan="2">Add exercise:</th>
        <th width="150px"><button type="button" (click)="addExercise()" class="btn btn-primary">Add exercise</button></th>
      </tr>
      <tr *ngFor="let exercise of exercises().controls; let i=index" [formGroupName]="i">
        <td>
          Name:
          <select class="form-control" name="objectExo"  formControlName="objectExo">
              <option *ngFor="let exercice of this.exercices"  [value]="exercice | json">{{ exercice.name }}</option>
            </select>
        </td>
        <td>
          Quantity:
          <input id="quantity" type="number" name="quantity" formControlName="quantity" class="form-control">
        </td>
        <td>
            Unity:
            <select class="form-control" name="listeUnit" formControlName="listeUnit">
              <option *ngFor="let unity of this.unities" [value]="unity">{{ unity }}</option>
            </select>
        </td>
        <td>
          Weight:
          <input id="weight" type="number" formControlName="weight" class="form-control" >
        </td>
        <td id="kg">

          <label>kg</label>
        </td>
        <td>
            <button (click)="removeExercise(i)" class="btn btn-danger">Remove</button>
        </td>
      </tr>
    </table>

  </form>
  {{this.productForm.value | json}}
  <br/>



<button class="btn btn-success" (click)="onModifyWod()">Modify Wod</button>
<button class="btn btn-danger" (click)="onBack()">Cancel</button>
</div>
