<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="./menu.component.scss">

<nav id="menuPrincipal" class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bg-dark">
  <a class="navbar-brand mr-0 mr-md-2" routerLink="accueil" aria-label="RankMyCrossfit">
      <img class="d-block" id="logo" src="./assets/images/logo/Image2.png">
      <h2>RankMyCrossfit</h2>
  </a>

  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex py-4">
    <li class="nav-item">
      <a class="nav-link nav-item" routerLink="accueil" title="Accueil2"><h2>Accueil</h2></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="wods" title="Wods" ><h2>Wods</h2></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="weightliftings" title="Weightlifting"><h2>Weightlifting</h2></a>
    </li>
  </ul>
  <a *ngIf="!this.token" class="btn btn-light d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" id="compteBouton" routerLink="login" title="Log in">Login</a>
  <a *ngIf="this.token && this.user" class="btn btn-light d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" id="compteBouton" routerLink="login" title="Log in">{{this.user.username}}</a>
</nav>
