<div class="container">
  <button class="btn btn-success" routerLink='/wods/add'>Add a Wod</button>
  <br><br>
  <br>
  <div class="content" role="main">
    <div class="card">
      <div class="form-group">
        <label for="search-text">Search Text</label>
        <input type="text" class="form-control" id="search-text" aria-describedby="search-text"
          [(ngModel)]="wodname" placeholder="Enter a wod's name" (input)="Search()" autofocus/>
      </div>
      <ul class="list-group list-group-flush">
        <!-- results of ngFor is passed to appFilter with argument searchText -->
        <td class="list-group-item" *ngFor="let wod of wods">
          <button class="btn" [routerLink]="['/wods',wod._id]">{{wod.name}}</button>
          <button *ngIf="this.token" class="btn btn-warning" [routerLink]="['/wods/modify',wod._id]">Modify</button>
          <button  *ngIf="this.token" class="btn btn-danger" (click)="deleteWod(wod._id)">Delete</button>
        </td>
      </ul>
    </div>
  </div>
</div>
