<div class="container">

<h1 *ngIf="this.wod">{{wod.name}}</h1>
<br>
<table id="tab" class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unity</th>
      <th scope="col">Weight</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let exo of this.exercises;">
      <td>
        <button class="btn" (click)="openDialogExo(exo.objectExo)">{{exo.objectExo.name }}</button>
      </td>
      <td>
        <label> {{exo.quantity}}</label>
      </td>
      <td>
        <label> {{exo.listeUnit}}</label>
      </td>
      <td>
        <label> {{exo.weight}}</label>
      </td>
      <td>
        <label>kg</label>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-center align-items-center">
  <button *ngIf="this.token" id="addRecord" class="btn btn-success" (click)="openDialog(this.id, this.wod.name)">Add record </button>
</div>

<div class="row no-gutters">
  <div class="col-md-6 no-gutters">
    <div class="leftside d-flex justify-content-center align-items-center">
          <h2>Men Records</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"> Rank</th>
                <th scope="col"> User</th>
                <th scope="col"> Date </th>
                <th scope="col"> Record </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of this.recordsMen;">
                <td>
                  <label>{{recordsMen.indexOf(record)+1}} </label>
                </td>
                <td>
                  <label> {{record.nameUs}}</label>
                </td>
                <td>
                  <label> {{record.date}}</label>
                </td>
                <td>
                  <label> {{record.record}}</label>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
  <div class="col-md-6 no-gutters">
    <div class="rightside d-flex justify-content-center align-items-center">
      <h2>Women Records</h2>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"> Rank</th>
            <th scope="col"> User</th>
            <th scope="col"> Date </th>
            <th scope="col"> Record </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of this.recordsWomen;">
            <td>
              <label>{{recordsMen.indexOf(record)+1}} </label>
            </td>
            <td>
              <label> {{record.nameUs}}</label>
            </td>
            <td>
              <label> {{record.date}}</label>
            </td>
            <td>
              <label> {{record.record}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
</div>

</div>
