<div class="container text-center">
  <h1 *ngIf="this.wod">{{wod.name}}</h1>
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <div class="table-fill table">
        <div class="table-header">
          <div class="table-data filter__link header__item"><h2>Name</h2></div>
          <div class="table-data filter__link header__item"><h2>Duration/Cal</h2></div>
          <div class="table-data filter__link header__item"><h2>Weight</h2></div>
        </div>
        <div class="table-content">
          <div *ngFor="let exo of this.exercises;">
            <div class="table-row">
              <div class="table-data">
                <button class="btn table-data" (click)="openDialogExo(exo.objectExo)" style="font-size: 12px;">{{exo.objectExo.name }}</button>
              </div>
              <div class="table-data">
                <label> {{exo.quantity}} {{exo.listeUnit}}</label>
              </div>
              <div class="table-data">
                <label> {{exo.weight}} kg</label>
              </div>
            </div>
          </div>
        </div>
        <div class="table-footer">
          <div class="header__item">
            <button *ngIf="this.token" id="addRecord" class="btn btn-light" (click)="openDialog(this.id, this.wod.name)">Add record </button>
          </div>
          

        </div>
      </div>
    </div>
  </div>


  <div class="row justify-content-md-center d-flex" style="padding-bottom: 150px;">
    <div class="col-md-6">
      <h1>Men Records</h1>
      <div class="table-fill table">
        <div class="table-header">
          <div class="table-data filter__link header__item"><h2>Rank</h2></div>
          <div class="table-data filter__link header__item"><h2>User</h2></div>
          <div class="table-data filter__link header__item"><h2>Date</h2></div>
          <div class="table-data filter__link header__item"><h2>Record</h2></div>
        </div>
        <div class="table-content">
          <div *ngFor="let record of this.recordsMen;">
            <div class="table-row">
              <div class="table-data">
                <label>{{recordsMen.indexOf(record)+1}}</label>
              </div>
              <div class="table-data">
                <label>{{record.nameUs}}</label>
              </div>
              <div class="table-data">
                <label>{{record.date}}</label>
              </div>
              <div class="table-data">
                <label>{{record.record}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h1>Women Records</h1>
      <div class="table-fill table">
        <div class="table-header">
          <div class="table-data filter__link header__item"><h2>Rank</h2></div>
          <div class="table-data filter__link header__item"><h2>User</h2></div>
          <div class="table-data filter__link header__item"><h2>Date</h2></div>
          <div class="table-data filter__link header__item"><h2>Record</h2></div>
        </div>
        <div class="table-content">
          <div *ngFor="let record of this.recordsWomen;">
            <div class="table-row">
              <div class="table-data">
                <label>{{recordsMen.indexOf(record)+1}}</label>
              </div>
              <div class="table-data">
                <label>{{record.nameUs}}</label>
              </div>
              <div class="table-data">
                <label>{{record.date}}</label>
              </div>
              <div class="table-data">
                <label>{{record.record}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



</div>
