<div class="container">

<h1>{{wod.name}}</h1>
<br>
<table id="tab" class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Distance (Km)</th>
      <th scope="col">Kcal</th>
      <th scope="col">Number of Rep</th>
      <th scope="col">Time</th>
      <th scope="col">Weight (Kg)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let exo of this.exercises;">
      <td>
        <label>{{exo.exoName}}</label>
      </td>
      <td>
        <label> {{exo.distance}}</label>
      </td>
      <td>
        <label> {{exo.kcal}}</label>
      </td>
      <td>
        <label> {{exo.nbOfRep}}</label>
      </td>
      <td>
        <label> {{exo.time}}</label>
      </td>
      <td>
        <label> {{exo.weight}}</label>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-center align-items-center">
  <button *ngIf="this.token" id="addRecord" class="btn btn-success" (click)="openDialog(this.id)">Add record </button>
</div>

<div class="row no-gutters">
  <div class="col-md-6 no-gutters">
    <div class="leftside d-flex justify-content-center align-items-center">
          <h2>Men Records</h2>
          <table></table>
    </div>
  </div>
  <div class="col-md-6 no-gutters">
    <div class="rightside d-flex justify-content-center align-items-center">
      <h2>Women Records</h2>
      <table></table>
    </div>
    </div>
</div>

</div>
