<div class="container">
  <h1>My records for wods</h1>
  <div class="content" role="main">
    <div class="card">
      <ul class="list-group list-group-flush">
        <!-- results of ngFor is passed to appFilter with argument searchText -->
        <td class="list-group-item" *ngFor="let record of recordWod">
          <label> {{record.name}} </label>
          <label> {{record.record}} min </label>
          <label> {{record.date}} </label>
          <!--<button class="btn btn-warning" [routerLink]="['/weightliftings/modify',weightlifting._id]">Modify</button>
          <button class="btn btn-danger" (click)="deleteWeightlifting(weightlifting._id)" >Delete</button>-->
        </td>
      </ul>
    </div>
  </div>
</div>

